In [7]:
import pandas as pd 
import matplotlib.pyplot as plt 
from sklearn import linear_model
import warnings
warnings.filterwarnings('ignore')

df=pd.read_csv("multilinearregression.csv",sep=";")

In [8]:
df

   area  roomcount  buildage   price
0   180          5        10  510000
1   225          4        18  508000
2   260          3         2  548000
3   320          6        10  650000
4   335          4         9  628000
5   345          5        14  632000
6   355          3         0  680000
7   400          4        10  725000

In [10]:
reg=linear_model.LinearRegression()
reg.fit(df[['area','roomcount','buildage']],df['price'])

reg.predict([[230,4,10]])

array([530243.29284619])

In [12]:
reg.predict([[230,6,0]])

array([586097.7833456])

In [13]:
reg.predict([[355,3,20]])

array([616657.45791365])

In [15]:
reg.predict([[200,3,0],[200,3,10],[200,3,20]])

array([510846.35245998, 484779.50946026, 458712.66646053])

In [16]:
reg.coef_

array([ 1018.99865454, 14893.82374984, -2606.68429997])

In [17]:
reg.intercept_

262365.1503032055

In [18]:
# Multiple Linear Regression
# y=a+b*x1+c*x2+d*x3

a=reg.intercept_
b=reg.coef_[0]
c=reg.coef_[1]
d=reg.coef_[2]

x1=200
x2=3
x3=0

y=a+b*x1+c*x2+d*x3
print("The value of Y is ",y)

The value of Y is  510846.35245998064