In [1]:
import pandas as pd 

df=pd.read_csv("outlier.csv",sep=';')
df

      isim  boy
0      can   88
1      ali  132
2    tugce  134
3     ayse  137
4    nihan  139
5    sahin  142
6     kaan  142
7     emre  144
8    bartu  147
9   ismail  148
10  gokalp  149
11   osman  149
12   filiz  150
13    veli  207
14   ilker  234