In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np 
import pandas as pd 
from sklearn import tree 

df=pd.read_csv("DecisionTreesClassificationDataSet.csv")

In [2]:
df.head()

,Experience,ActivelyWorking,FormerCompanies,EducationLevel,Top10 University,InternHere,GetHired
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

In [3]:
# Turn characters to numeric values 
fixed_mapping={'Y':1,'N':0}

df['GetHired']=df['GetHired'].map(fixed_mapping)
df['ActivelyWorking']=df['ActivelyWorking'].map(fixed_mapping)
df['InternHere']=df['InternHere'].map(fixed_mapping)
df['Top10 University']=df['Top10 University'].map(fixed_mapping)

fixed_mapping_education={'BS':0,'MS':1,'PhD':2}
df['EducationLevel']=df['EducationLevel'].map(fixed_mapping_education)

df.head()

,Experience,ActivelyWorking,FormerCompanies,EducationLevel,Top10 University,InternHere,GetHired
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

In [4]:
y=df['GetHired']
x=df.drop(['GetHired'],axis=1)

In [6]:
clf=tree.DecisionTreeClassifier()
clf=clf.fit(x,y)

print(clf.predict([[5,1,3,0,0,0]]))

[1]

In [7]:
print(clf.predict([[5,0,1,1,0,0]]))

[0]